.list-header {
  display: flex;
  gap: 0.5rem;
}

.list-header h2 {
  max-width: 350px;
  font-weight: 400;
  margin: 0 0 20px;
}

.toggle-btn {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0;
  margin-top: 9px;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  background: var(--color-hightlight);
  color: var(--color-text-on-hightlight);
  stroke: var(--color-text-on-hightlight);
  filter: brightness(1.10);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn .icon-expand {
  width: 20px;
  height: 20px;
}

.toggle-btn:hover {
  background: var(--color-hightlight-hover);
  color: var(--color-text-on-hightlight);
  stroke: var(--color-text-on-hightlight);
}

.ul-list {
  padding: 0;
  margin-top: 0;
}

.li-list {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.li-list:hover {
  background-color: #f0f0f0;
}

.highlighted {
  background-color: #e0f7fa;
}

.more-btn {
  display: flex;
  justify-content: end;
}

.list-elem-description {
  margin: 20px;
}

.list-description-s-p-font * {
  font-size: var(--text-font-size);
}
