@import './base.css';
@import './list.css';
@import './map.css';

.readon {
  display: inline-block;
  border: 2px solid var(--color-hightlight);
  background: var(--color-hightlight);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 5px;
  padding: 6px 20px;
  color: var(--color-text-on-hightlight);
  height: fit-content;
  font-size: var(--button-font-size);
  cursor: pointer;
}

.readon:hover {
  background: var(--color-hightlight-hover) none repeat scroll 0 0;
  border-color: var(--color-hightlight-hover);
}

h3 a {
  color: var(--color-hightlight);
  text-transform: uppercase;
  font-size: var(--link-font-size);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.accordion-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  font-size: 21px;
  background: var(--color-hightlight);
  border-radius: 50%;
  color: var(--color-text-on-hightlight);
  font-family: var(--font-body), sans-serif;
  text-align: center;
  line-height: 27px;
  margin-right: 10px;
}
